$black: #050505;
$light-black: #1F1F1F;
$lighter-black: #2D2D2D;
$lighest-black: #3A3A3A;
$dark-gray: #757575;
$lighter-gray: #E9E9E9;
$lighest-gray: #F4F4F4;
$white: #FFFFFF;
$purple: #A445ED;
$red: #FF5252;
